#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        span Dec 12, 9:04pm
        hr
        h3 Issues delegated!
        span Check out any new issues here on <a href="https://waffle.io/SRJC-Computer-Science-Club/line-follower">Waffle.io</a>.
        hr
        h3 Back-End is Coming!
        span GitHub <a href="https://waffle.io/SRJC-Computer-Science-Club/CS-Website">issues</a> are up! Join in on making progess to the site.
        hr
        h3 Retailer, a tycoon of awesome!
        span Take a look at <a href="projects/6">Retailer</a> and dive into creating a game using Unity.
    hr
