#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        span Nov 21, 8:39pm
        hr
        h3 Back-End is Coming!
        span be sure to checkout issues made on GitHub for the site! Join in on making progess to the site.
        hr
        h3 Parts Ordered!
        span After planning and planning for the Line-Follower, the parts list has been made and planning for production has begun. Stay tuned to GitHub issues this week.
    hr
