#top-news.row
  .col-lg-12
    h1 Top News
    .row.card
      .col-lg-12
        span Nov 28, 10:04pm
        hr
        h3 Software at the Ready!
        span After planning for the Line-Follower, we've constructed our software flowchart. So, be sure to stay tuned to GitHub issues this week.
        hr
        h3 Back-End is Coming!
        span be sure to checkout issues made on GitHub for the site! Join in on making progess to the site.
    hr
